@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar para Chrome, Safari y Opera */
::-webkit-scrollbar {
    display: none;
}

/* Ocultar scrollbar para IE, Edge y Firefox */
* {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    overflow: hidden;
}
